body {
  margin: 0 auto;
  max-width: 50em;
}
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color:lightblue;
}
body {
  line-height: 1.5;
  padding: 4em 1em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}
h1,
h2,
p,
strong {
  color: #333;
}
pre {
  background: rgb(231, 102, 15);
}
code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}
pre {
  padding: 1em;
}
code,
pre {
  background: #eee;
}
a {
  color: #e81c4f;
}
body {
  color: #566b78;
}
#one {
  background: pink;
  border-bottom: 1px solid #01050c;
  color: black;
}
#two {
  background: rgb(208, 235, 235);
  border-bottom: 1px solid #01040b;
  color: #010807;
}
pre {
  border-left: 2px solid rgb(23, 111, 200);
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
#header1 {
  background-color: #263d36;
  background-image: url('https://drive.google.com/uc?export=view&id=1a18T0NqgourVJ0nsx1Qy70lg3T_zRohj');
  border-radius: 3rem 3rem 3rem 3rem;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 9vw 2em;
  text-align: center;
  opacity: 0.8;
  box-shadow: 5px 5px 5px 10px #baddc3;
}
#header :hover {
  opacity: 1;
}

header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
  border-radius: 100%;
}
header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background: #e81c4f;
  color: white;
}
